<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./css/style.css">
   <title>Domino</title>
</head>
<body>
   <ul id="room-1" class="room"></ul>
   <ul id="room-2" class="room"></ul>
   <ul id="room-3" class="room"></ul>

   <button id="connect-1">Room 1</button>
   <button id="connect-2">Room 2</button>
   <button id="connect-3">Room 3</button>

   <button id="send-message">Enviar mensaje!</button>

   <script src="/socket.io/socket.io.js"></script>
   <script src="./js/index.js"></script>
</body>
</html>