<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Domino</title>
</head>
<body>
   <h3>Servidor con express y socket io</h3>
   <p id="text"></p>
   <button id="emit-to-server">Click me👀</button>
   <button id="emit-to-last">Emit to last 😌</button>
   <script src="/socket.io/socket.io.js"></script>
   <script src="./js/index.js"></script>
</body>
</html>