@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.container-testimonios {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

img {
    @apply select-none;
}

.swiper-slide{
    display: flex !important;
}
.bug {
    margin-left: 0%;
    transform: rotate(-360deg);
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 0;
    animation: bee 10s linear infinite;
}

.bee1 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFC107;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 6;
}

.bee2 {
    width: 40px;
    height: 40px;
    border-radius: 20px 18px 20px 18px;
    background-color: #FFC107;
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 4;
}

.black {
    width: 40px;
    height: 40px;
    border-radius: 20px 18px 20px 18px;
    background-color: black;
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 5;
}

.eye {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 6;
    animation: eye 0.5s 2.2s 2 linear;
}

.wing {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BBDEFB;
    position: absolute;
    right: 10px;
    top: -15px;
    z-index: 2;
    border: 0.5px solid #90CAF9;
    animation: wings 1s linear infinite;
}

.wing2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BBDEFB;
    position: absolute;
    right: 0;
    top: -15px;
    border: 0.5px solid #90CAF9;
    z-index: 1;
    animation: wings2 1s linear infinite;
}

@keyframes bee {
    0% {
        transform: rotate(0deg);
        left: 0%;
    }

    20% {
        transform: rotate(-10deg);
        left: 0;
    }

    40% {
        transform: rotate(-20deg);
        left: 10%;
    }

    60% {
        left: 80%;
        transform: rotate(-360deg);
    }

    80% {
        left: 90%;
        transform: rotate(-360deg) scaleX(-1);
    }

    100% {
        left: 0%;
        transform: scaleX(-1);
    }
}

@keyframes wings {
    20% {
        right: 12px;
    }

    30% {
        right: 8px;
    }

    40% {
        right: 12px;
    }

    50% {
        right: 8px;
    }

    60% {
        right: 12px;
    }

    70% {
        right: 8px;
    }

    80% {
        right: 12px;
    }

    90% {
        right: 8px;
    }
}

@keyframes wings2 {
    20% {
        right: -2px;
    }

    30% {
        right: 2px;
    }

    40% {
        right: -2px;
    }

    50% {
        right: 2px;
    }

    60% {
        right: -2px;
    }

    70% {
        right: 2px;
    }

    80% {
        right: -2px;
    }

    90% {
        right: 2px;
    }
}

@keyframes eye {
    0% {
        width: 5px;
        height: 5px;
    }

    10% {
        width: 0;
        height: 0;
    }

    40% {
        width: 5px;
        height: 5px;
    }

    50% {
        width: 5px;
        height: 5px;
    }

    100% {
        width: 5px;
        height: 5px;
    }
}


.bug-top {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    animation: bee-top 10s linear infinite;
}

.bee1-top {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFC107;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 6;
}

.bee2-top {
    width: 40px;
    height: 40px;
    border-radius: 20px 18px 20px 18px;
    background-color: #FFC107;
    position: absolute;
    left: 30px;
    top: 50px;
    z-index: 4;
}

.black-top {
    width: 40px;
    height: 40px;
    border-radius: 20px 18px 20px 18px;
    background-color: black;
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 5;
}

.eye-top {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 6;
    animation: eye 0.5s 2.2s 2 linear;
}

.wing-top {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BBDEFB;
    position: absolute;
    right: 10px;
    top: -15px;
    z-index: 2;
    border: 0.5px solid #90CAF9;
    animation: wings 1s linear infinite;
}

.wing2-top {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #BBDEFB;
    position: absolute;
    right: 0;
    top: -15px;
    border: 0.5px solid #90CAF9;
    z-index: 1;
    animation: wings2 1s linear infinite;
}

@keyframes bee-top {
    0% {
        transform: rotate(0deg) scaleX(1);
        right: 0%;
    }

    20% {
        transform: rotate(-10deg);
        right: 0;
    }

    40% {
        transform: rotate(-20deg);
        right: 10%;
    }

    60% {
        right: 80%;
        transform: rotate(-360deg);
    }

    80% {
        right: 90%;
        transform: rotate(-360deg);
    }

    100% {
        right: 0%;
    }
}

@keyframes wings-top {
    20% {
        right: 12px;
    }

    30% {
        right: 8px;
    }

    40% {
        right: 12px;
    }

    50% {
        right: 8px;
    }

    60% {
        right: 12px;
    }

    70% {
        right: 8px;
    }

    80% {
        right: 12px;
    }

    90% {
        right: 8px;
    }
}

@keyframes wings2-top {
    20% {
        right: -2px;
    }

    30% {
        right: 2px;
    }

    40% {
        right: -2px;
    }

    50% {
        right: 2px;
    }

    60% {
        right: -2px;
    }

    70% {
        right: 2px;
    }

    80% {
        right: -2px;
    }

    90% {
        right: 2px;
    }
}

@keyframes eye-top {
    0% {
        width: 5px;
        height: 5px;
    }

    10% {
        width: 0;
        height: 0;
    }

    40% {
        width: 5px;
        height: 5px;
    }

    50% {
        width: 5px;
        height: 5px;
    }

    100% {
        width: 5px;
        height: 5px;
    }
}

.title {
    @apply text-black-letras font-bold text-[35px] md:text-[45px] font-firaSans;
}

.subtitle {
    @apply text-center text-[30px] m-[10px] text-black-letras font-bold font-firaSans;
}

.textP {
    @apply text-[20px] text-black-letras;
}

.textNav {
    @apply block py-2 pl-3 pr-4 text-café hover:text-red-600 hover:scale-110 md:p-0 transition-[background,transform,color] ease-linear duration-500;
}

.text-sm {
    @apply font-bold text-[18px] text-black-letras;
}

.button {
    @apply rounded-[50px] border-solid text-white font-bold text-[25px] font-firaSans uppercase text-center items-center justify-center hover:scale-110 transition-[background,transform,color] ease-linear duration-500;
}

.img-slider {
    @apply w-[200px] h-[200px] md:w-[250px] md:h-[250px] rounded-full object-cover;
}

.img-testimonios {
    @apply w-[200px] h-[200px] object-cover rounded-full;
}

.imgCardTeam {
    @apply w-[200px] h-[200px] md:w-[300px] md:h-[300px] object-cover rounded-[50%];
}

.cardTeam {
    @apply border-[5px] border-solid border-café rounded-[40px] flex flex-col justify-between py-[60px] items-center bg-yellow-d gap-[10px] md:rounded-[50px] text-center px-[15px] md:border-none;
}

.teamCardh2 {
    @apply text-[20px] px-[3px] md:text-[25px] font-firaSans;
}

.teamCardh3 {
    @apply text-[22px] px-[3px] md:text-[26px] font-bold font-firaSans;
}

.funcio-section {
    @apply bg-yellow-light w-full p-0 md:p-[50px] relative -z-30;
}

.funcio-div {
    @apply md:w-[50%] md:mx-auto flex flex-col justify-center items-center m-0 p-[30px] w-[100%] text-center md:text-start;
}

.funcio-article {
    @apply flex justify-center items-center md:m-[20px] md:flex-row flex-col;
}

.funcio-img {
    @apply md:w-[40%] bg-cover rounded-[15px] w-[100%] md:m-0 my-[30px]; 
}