@tailwind base;
@tailwind components;
@tailwind utilities;

.abejita {
    animation: vueloDeAbeja 7s infinite linear;
}

.container-testimonios{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    align-items: center;
 }

::-webkit-scrollbar{
    display:none;
}
img{
    @apply select-none;
}

@keyframes vueloDeAbeja {
    0% {
        bottom: 0;
        left: 0;
        transform: scaleX(1);
    }

    10% {
        bottom: 20%;
        left: 20%;
        transform: scaleX(1);
    }

    20% {
        bottom: 40%;
        left: 40%;
        transform: scaleX(1);
    }

    30% {
        bottom: 60%;
        left: 60%;
        transform: scaleX(1);
    }

    40% {
        bottom: 80%;
        left: 80%;
        transform: scaleX(1);
    }

    50% {
        bottom: 100%;
        left: 100%;
        transform: scaleX(1);
    }
    51%{
        transform: scaleX(-1);
    }
    60% {
        bottom: 80%;
        left: 80%;
        transform: scaleX(-1);
    }

    70% {
        bottom: 60%;
        left: 60%;
        transform: scaleX(-1);

    }

    80% {
        bottom: 40%;
        left: 40%;
        transform: scaleX(-1);

    }

    90% {
        bottom: 20%;
        left: 20%;
        transform: scaleX(-1);

    }


    100% {
        bottom: 0;
        left: 0;
        transform: scaleX(-1);

    }

}