@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   @apply text-creme;
}

#pieces-container{
   @apply flex-wrap;
}
.piece, .piece-row, .piece-column{
   @apply hover:scale-125 cursor-pointer ease-in duration-300 relative;
}

.piece-row{
   /* @apply w-12 sm:w-20 sm:h-40 h-24; */
   @apply flex flex-row relative;
}

.piece-column{
   @apply relative;
}
/* .piece::after, .piece-row::after, .piece-column::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 15px;
   height: 15px;
   background-color: #000000;
   border-radius: 50%;
 } */
/* Parte de arriba horizontal */
.top-half-row{
   @apply sm:w-28 sm:h-28 rounded-l-xl w-20 h-20 border-2 border-gray-600;
}
/* parte de abajo horizontal*/
.bottom-half-row{
   @apply sm:w-28 sm:h-28 rounded-r-xl w-20 h-20 border-2 border-gray-600;
}
/* Parte de arriba */
.top-half-column{
   @apply sm:w-28 sm:h-28 rounded-t-xl w-20 h-20 border-2 border-gray-600;
}
/* parte de abajo */
.bottom-half-column{
   @apply sm:w-28 sm:h-28 rounded-b-xl w-20 h-20 border-2 border-gray-600;
}
/* el circulo */
.bolita{
   @apply  sm:w-5 sm:h-5 h-3 w-3 rounded-full bg-black;
}
/* diferentes formas */
.one-ball{
   @apply flex justify-center items-center;
}

/* dos bolitas */
.two-balls{
   @apply relative;
}
.two-balls .bolita:first-child{
   @apply absolute top-[10%] left-[10%];
}

.two-balls .bolita:last-child{
   @apply absolute bottom-[10%] right-[10%];
}

/* tres bolitas */
.three-balls{
   @apply relative;
}
.three-balls .bolita:first-child{
   @apply top-[10%] left-[10%] absolute;
}

.three-balls .bolita:nth-child(2){
   @apply top-[37%] left-[36%] absolute;
}

.three-balls .bolita:last-child{
   @apply bottom-[10%] right-[10%] absolute;
}

/* Cuatro bolitas */
.four-balls{
   @apply relative;
}
.four-balls .bolita:first-child{
   @apply top-[10%] left-[10%] absolute;
}
.four-balls .bolita:nth-child(2){
   @apply right-[10%] top-[10%] absolute;
}
.four-balls .bolita:nth-child(3){
   @apply bottom-[10%] left-[10%] absolute;
}
.four-balls .bolita:nth-child(4){
   @apply right-[10%] bottom-[10%] absolute;
}

/* cinco bolitas */
.five-balls{
   @apply relative;
}
.five-balls .bolita:first-child{
   @apply top-[10%] left-[10%] absolute;
}
.five-balls .bolita:nth-child(2){
   @apply right-[10%] top-[10%] absolute;
}
.five-balls .bolita:nth-child(3){
   @apply bottom-[10%] left-[10%] absolute;
}
.five-balls .bolita:nth-child(4){
   @apply right-[10%] bottom-[10%] absolute;
}
.five-balls .bolita:last-child{
   @apply right-[38%] bottom-[38%] absolute;
}
/* Seis bolitas */
.six-balls{
   @apply relative;
}
.six-balls .bolita:first-child{
   @apply top-[10%] left-[10%] absolute;
}
.six-balls .bolita:nth-child(2){
   @apply top-[41%] left-[10%] absolute;
}
.six-balls .bolita:nth-child(3){
   @apply top-[70%] left-[10%] absolute;
}
.six-balls .bolita:nth-child(4){
   @apply top-[10%] right-[10%] absolute;
}
.six-balls .bolita:nth-child(5){
   @apply top-[41%] right-[10%] absolute;
}
.six-balls .bolita:nth-child(6){
   @apply top-[70%] right-[10%] absolute;
}
/* terminan las fichas */
.rainbown{
   background: rgb(131,58,180);
   background: -moz-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   background: -webkit-linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}
.container-cards i{
   @apply text-7xl;
}
.container-cards{
   grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   justify-items: center;
   align-items: center;
}
.card{
   @apply cursor-pointer w-40 h-40 flex flex-col justify-center content-center items-center gap-5 rounded-xl ring-2 ring-creme shadow-custom hover:shadow-custom-hover hover:ease-in duration-200;
}
.card:hover {
   box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.image-slider{
   @apply bg-cover bg-center bg-no-repeat;
}
.top-half-column, .top-half-row, .bottom-half-row, .bottom-half-column{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.font-montserrat {
   font-family: 'Montserrat', sans-serif;
}

.font-rubik {
   font-family: 'Rubik Wet Paint', cursive;
}

.option-button{
   @apply block text-white bg-cobao hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}